body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #af4c4c;
    color: white;
    text-align: center;
    padding: 20px;
}

#task-section {
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

#task-form {
    display: flex;
    justify-content: space-between;
}

#task-input {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

#task-form button {
    padding: 10px 20px;
    border: none;
    background-color: #4facd1;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

#task-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0;
}

#task-list li {
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#task-list li.completed {
    text-decoration: line-through;
    color: #888;
}

#task-list button {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}
